<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Machine Learning Projects</title>
  <style>
    .card {
      border: none;
      background-color: #f8f9fa;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
      transition: 0.3s;
      border-radius: 5px;
    }

    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .card-body {
      padding: 20px;
    }

    .card-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
      color: #333;
    }

    .card-text {
      font-size: 16px;
      color: #555;
      margin-bottom: 20px;
    }

    .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
      transition: background-color 0.3s;
    }

    .btn-primary:hover {
      background-color: #0056b3;
      border-color: #0056b3;
    }

    .projects-container {
      margin-top: 40px;
    }
  </style>
</head>
<body>

  <div class="container">
    <h2>Machine Learning Projects.</h2>
    <hr>
    <p>Welcome to my portfolio website! I am passionate about machine learning and have worked 
        on several exciting projects in this field. My machine learning projects encompass a wide
         range of applications, from image recognition and natural language processing to 
         predictive analytics and anomaly detection. Using state-of-the-art algorithms and 
         techniques, I have developed models that can accurately classify and predict
          outcomes based on complex datasets. Each project showcases my ability to
           leverage data-driven insights to solve real-world problems. I am constantly expanding my
            knowledge and exploring innovative approaches to stay at the forefront of this
             rapidly evolving field. Feel free to explore my projects and see how I harness
              the power of machine learning to drive meaningful results</p>
              <hr>
    <div class="row projects-container">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Insurance Premium Prediction </h5>
            <p class="card-text"> implemented an insurance premium price prediction web
                application using machine learning. Deployed it on AWS with CI/CD
                pipeline. Achieved 97% model accuracy by XGBoost.
                Implemented CI/CD and training pipelines using Python OOP.</p>
            <a href="https://github.com/Ranjit-Singh-786/insorance-Premium-Prediction" class="btn btn-primary">Get Source Code</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Book Recommendation System - ML</h5>
            <p class="card-text">i developed a book store website integrated with a machine learning
                recommendation system. The system suggests similar books to
                users based on their interests. Additionally, I designed a user friendly website GUI. The website was deployed on AWS.</p>
            <a href="https://github.com/Ranjit-Singh-786/Book-Recommedation_Project" class="btn btn-primary">Get Source Code</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Old Bikes Price Prediction</h5>
            <p class="card-text">Implemented a highly accurate Old Bike Price Prediction web
                application, achieving 98% accuracy. The application predicts the price
                of used bikes based on factors such as kilometers driven, bike age,
                bike power, bike brand, and bike condition.
                Deployed the web application on AWS using EC2, ECR, S3, Docker.
                </p>
            <a href="https://github.com/Ranjit-Singh-786/old_bike_pricePrediction" class="btn btn-primary">Get Source Code</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">APS Sensor Fault Detection</h5>
            <p class="card-text">The APS Fault Detection project utilizes machine learning 
                techniques to detect and classify faults in the Air Pressure System of
                 a specific application. The objective of this project is to develop an
                  intelligent fault detection system that can accurately identify 
                  abnormal behavior in the Air Pressure System. By leveraging machine
                   learning algorithms, the project aims to analyze sensor data 
                   and provide real-time insights into the system's operational status. </p>
            <a href="#" class="btn btn-primary">Get Source Code</a>
          </div>
        </div>
      </div>


      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Time Series Forecasting</h5>
            <p class="card-text">time series forecasting, in which
              project i took  dataset, and extracted APRIL & MAY  "RD_NO" month of 2023 
              for the training purpose and
              i did forecasting for the JUN month of 2023 for RD_NO reporting date number.
              used SARIMA time series forecasting method. and got the highly impressive  forecasting
              for the jun month with very minued loss. and other all information and source code 
              are Available github, forecasting result save in "result_for_jun.csv", 
                </p>
            <a href="https://github.com/Ranjit-Singh-786/Assignment_Flodataanalytics" class="btn btn-primary">Get Source Code</a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Project 6</h5>
            <p class="card-text"> All are project will be Available very soon,
              we are all working on it. 😊
                </p>
            <a href="#" class="btn btn-primary">Get Source Code</a>
          </div>
        </div>
      </div>


      <h4>My All Projects Available as soon as possible , we are all working on this section. 😊</h4>
    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
    </html>
    